# depthai==3.0.0
--extra-index-url https://artifacts.luxonis.com/artifactory/luxonis-python-snapshot-local
--pre
depthai==3.0.0.dev0+3aa210a2d54c32e0f75f8ac6b4a81f80b6230f2f
#depthai-nodes==0.3.4
depthai-nodes @ git+https://github.com/luxonis/depthai-nodes.git@feat/dai_dev_req
opencv-python-headless~=4.10.0
numpy>=1.22
tokenizers~=0.21.0
onnxruntime
# onnxruntime-gpu # if you want to use CUDAExecutionProvider
requests
dotenv